<!-- <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Node.js</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>


</body>
<section class="vh-100 gradient-custom">
  <%- include ('../message/message') %>
    <div class="container centered py-5 h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html> -->

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <section class="vh-100 gradient-custom">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
          <img src="img/icon.png" class="nav-icon" alt="" style="width:37px;height: 37px " >
      </div>
    </nav>
  <div class="mt-5 col-sm-6">
    <%- include ('../message/message') %>
  </div>

  <section class="mt-5">
    <div class="container h-100 centered">
      <div class="row d-flex justify-content-center align-items-center ">
    
          <div class="card col-xl-8 bg-dark text-white centered" style="border-radius: 1rem;">
            
  
  
                <form action="/signup" method="POST">
                  <div class="card-body text-center">
        
                    
        
                      <h2 class="fw-bold mb-2 text-uppercase">Registro</h2>
        
                      <div class="form-outline form-white mb-4">
                        <input type="text" name="name" placeholder="Nombre"  class="form-control form-control-lg" />
      
                      </div>
        
                      <div class="form-outline form-white mb-4">
                        <input type="text" name="username" placeholder="Usuario"  class="form-control form-control-lg" />
                      </div>
      
                      <div class="form-outline form-white mb-4">
                          <input type="password" name="password" placeholder="Contraseña"  class="form-control form-control-lg" />
                        </div>
      
                        <div class="form-outline form-white mb-4">
                          <input type="email" name="email" placeholder="Email"  class="form-control form-control-lg" />
                        </div>
      
                        <div class="form-outline form-white mb-4">
                          <input type="number" name="phone" placeholder="Telefono"  class="form-control form-control-lg" />
                        </div>
      
                        <div class="form-outline form-white mb-4">
                          <input type="text" name="city" placeholder="Direccion" class="form-control form-control-lg" />
                        </div>
      
                        <div class="form-outline form-white mb-4">
                          <div class="col-12">
                              <select class="form-control form-control-lg" name="state" id="state" class="form-select">
                                <option value="" selected disabled>Selecione provincia</option>
                                <option value="Buenos Aires">Buenos Aires</option>
                                <option value="Catamarca">Catamarca</option>
                                <option value="Chaco">Chaco</option>
                                <option value="Chubut">Chubut</option>
                                <option value="Córdoba">Córdoba</option>
                                <option value="Corrientes">Corrientes</option>
                                <option value="Entre Ríos">Entre Ríos</option>
                                <option value="Formosa">Formosa</option>
                                <option value="Jujuy">Jujuy</option>
                                <option value="La Pampa">La Pampa</option>
                                <option value="La Rioja">La Rioja</option>
                                <option value="Mendoza">Mendoza</option>
                                <option value="Misiones">Misiones</option>
                                <option value="Neuquén">Neuquén</option>
                                <option value="Río Negro">Río Negro</option>
                                <option value="Salta">Salta</option>
                                <option value="San Juan">San Juan</option>
                                <option value="San Luis">San Luis</option>
                                <option value="Santa Cruz">Santa Cruz</option>
                                <option value="Santa Fe">Santa Fe</option>
                                <option value="Santiago del Estero">Santiago del Estero</option>
                                <option value="Tierra del Fuego	">Tierra del Fuego</option>
                                <option value="Tucumán">Tucumán</option>
                              </select>
                            </div>
                        </div>
        
                      <button class="btn btn-outline-light btn-lg px-5" type="submit">Acceder</button>
      
                    
        
                  </form>
  
              

            

          </div>
        
      </div>
    </div>
  </section>
</section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"

    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>