body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw;
  max-height: 100vh;

}

.primary-btn {
  background-color: #6cc24a;
  color: #fff;
}

.primary-btn:hover {
  background-color: transparent;
  border-color: #6cc24a;
  color: #6cc24a;
}

.secondary-btn {
  background-color: transparent;
  border-color: #6cc24a;
  color: #6cc24a;
}

.secondary-btn:hover {
  background-color: #6cc24a;
  color: #fff;
}

.edit-btn {
  background-color: yellow;
  color: #000;
}

.delete-btn {
  background-color: #f72828;
  color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message-div {
  border: 2px solid lightgrey;
  background-color: #f8f9fa;
  padding: 30px;
}
.gradient-custom {
  max-width: 100vw;
  max-height: 100vh;
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));}

  html {
    min-height: 100%;
    position: relative;
  }
  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    .nav-icon{
      width: 45px !important;
      height: 45px !important;
    }


    input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      input[type=number] { -moz-appearance:textfield; }


       input[type=date]::-webkit-inner-spin-button, 
      input[type=date]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      input[type=date] { -moz-appearance:textfield; }