<!DOCTYPE html>
<html lang="es">

  <%- include('../template/cabecera') %>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="./profile"><img src="img/icon.png" alt="Node.js icon" class="nav-icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%- include ('../template/ul') %>
        <form class="d-flex" action="./search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="search">
          <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
        <a href="/logout" class="btn btn-secondary ms-4">Cerrar sesion</a>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="position-absolute">
      <%- include ('../message/message') %>
    </div>
    <div class="text-center">
      <h2>Llene sus datos</h2>
    </div>
    <br>
    <form action="./user-add" method="POST">
      <div class="row">
        <div class="col-12">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" name="username" id="username" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" name="password" id="password" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="name" class="form-label">Nombre</label>
          <input type="name" name="name" id="name" class="form-control">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="col-6">
          <label for="phone" class="form-label">Telefono</label>
          <input type="number" name="phone" id="phone" class="form-control">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="city" class="form-label">Ciudad</label>
          <input type="text" name="city" id="city" class="form-control">
        </div>
        <div class="col-6">
          <label for="state" class="form-label">Provincia</label>
          <select name="state" id="state" class="form-select">
            <option value="" selected disabled>Selecione su provincia</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego	">Tierra del Fuego</option>
            <option value="Tucumán">Tucumán</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="float-start">
            <button type="submit" class="btn new-btn">Agregar usuario</button>
          </div>
        </div>
        <div class="col-6">
          <div class="float-end">
            <a href="./users" class="btn btn-outline-secondary">Volver atras</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <%- include('../template/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>