<footer class=" fixed-bottom bg-light text-lg-start" style="background-color: #F0F0F0;">
  <div class="row d-flex justify-content-center">
    <div class="col-auto text-center p-3" >
      © 2022 Lautaro Décima:
      <a target= "_blank" class="text-dark" href="https://www.linkedin.com/in/lautarodecima/"  ><i class="bi bi-linkedin"></i></a>
    </div>
    <div class=" col-auto text-center p-3"">
      © 2022 Juan Manuel de los Santos:
      <a target= "_blank" class="text-dark" href="https://www.linkedin.com/in/juanmadls/"  ><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
  </footer>