<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="./profile">Inicio</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="./products">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="./category">Categoria</a>
  </li> -->
  <div class="dropdown">
    <button class="btn nav-link active dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Administración
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="./users">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="./tecnicos">Tecnicos</a>
      </li>
    </ul>
  </div>
    <div class="dropdown">
    <button class="btn nav-link active dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Altas
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="./reclamos">Reclamos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="./insumos">Insumos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="./servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="./prestacionServicios">Prestaciones</a>
      </li>
    </ul>
  </div>
  
  
  
</ul>